<div class="row">
  <div class="col-md-9">
    <h2>Game Browser</h2>
  </div>
  <div class="col-md-3">
    <button class="btn btn-primary">Create Game</button>
  </div>
</div>

<div>
  <table class="table">
    <tr>
      <th scope="col">Game Name</th>
      <th scope="col">Location</th> 
      <th scope="col">Participants</th>
    </tr>
    {{#each game}}
      <a>
        <tr>{{game.name}}</tr>
        <tr>{{game.location}}</tr>
        <tr>{{game.participants}}</tr>
      </a>
    {{/each}}
  </table>
</div>
