<div class="row">
  <h2 class="mx-auto">KILL</h2>
</div>
<div class="row">
  <h3 class="mx-auto">Mr. Placeholder</h3>
</div>
<div class="row">
  <h2 class="mx-auto">WITH</h2>
</div>
🔨 
<div class="row">
  <button class="btn btn-success">The deed is done</button>
  <button class="btn btn-danger">I've been killed</button>
</div>
